@media screen and (max-width: 1300px) {
  .header-wrap-right-side {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
  }
  .header-wrap-right-side .header-lang {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1060px) {
  .hero-leftside {
    padding-bottom: 0 !important;
  }

  .polygraphy-in-kiev .col-md-4 p:first-child {
    font-size: 45px !important;
  }

  .our-clients-wrapper {
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .our-clients-wrap-rightside {
    margin-top: 0 !important;
    padding: 50px 20px 0 20px !important;
  }

  .our-clients-slider {
    padding-bottom: 30px;
  }

  .footer-logo img {
    width: 180px !important;
  }

  footer {
    padding: 20px !important;
  }

  .produkciya-wrap .col-md-2 {
    max-width: 100%;
    text-align: center;
    flex: 0 0 100%;
  }
  .produkciya-wrap .col-md-9 {
    margin-top: 20px;
    max-width: 100%;
    flex: 0 0 100%;
  }
}
@media (min-width: 750px) and (max-width: 950px) {
  .main-content {
    flex: 0 0 100% !important;
  }
}
@media screen and (max-width: 950px) {
  .left-aside {
    display: none !important;
  }

  .main-content {
    max-width: 100% !important;
    width: 100% !important;
  }

  header {
    border-bottom: 0.5px solid #d5d5d5;
  }
  header .col-md-1 {
    max-width: 20% !important;
    flex-basis: 30%;
  }
  header .col-md-11 {
    background: #fff;
    flex-basis: 80%;
  }
  header .col-md-11 .header-wrap-left-side {
    display: none !important;
  }
  header .col-md-11 .header-wrap-right-side {
    display: flex;
    flex-direction: row !important;
    justify-content: flex-end !important;
    align-items: center !important;
    width: 100%;
  }
  header .col-md-11 .header-wrap-right-side .header-lang, header .col-md-11 .header-wrap-right-side .header-btn-order {
    display: none;
  }
  header .col-md-11 .header-wrap-right-side .header-wrap-menu-btn {
    display: flex !important;
    align-items: center;
    color: #36373b;
    margin-right: 30px;
  }
  header .col-md-11 .header-wrap-right-side .header-wrap-menu-btn .burger-menu span {
    color: #36373b;
    font-weight: 500;
  }

  .hero-head, .hero-footer {
    padding: 30px 0 0 30px !important;
  }

  .hero-footer p {
    font-size: 13px;
  }

  .footer {
    padding: 50px !important;
  }
  .footer .footer-logo img {
    width: 130px !important;
  }
}
@media screen and (max-width: 770px) {
  .contacts-wrap-rightside-head {
    margin-top: 20px;
  }

  header .col-md-1 {
    max-width: 30% !important;
    flex-basis: 40%;
  }
  header .col-md-11 {
    flex-basis: 70%;
  }

  .hero-footer .col-md-4 {
    width: 33% !important;
  }

  .our-clients-wrap-leftside .col-md-6 {
    width: 50% !important;
  }

  .footer .col-md-3:first-child {
    margin-bottom: 50px;
  }
  .footer .col-md-3:nth-child(2) {
    width: 50% !important;
  }
  .footer .col-md-3:nth-child(3) {
    width: 50% !important;
    margin-bottom: 20px;
  }

  .top-sales-head h2 {
    font-size: 1.5rem;
  }
  .top-sales-head .top-sales-head-rightside p {
    font-size: 16px;
  }

  .stages-body-item-arrow svg {
    margin-left: 50px;
  }

  .stages-body-item svg {
    width: 70px !important;
    height: 70px !important;
  }

  .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item {
    width: 170px;
    height: 240px;
  }

  .article-head-leftside {
    flex-direction: column;
  }
  .article-head-leftside h1 {
    margin-left: 0 !important;
    font-size: 30px;
  }

  .article-head-rightside {
    flex-direction: column-reverse;
    align-items: end;
  }
  .article-head-rightside span {
    margin-right: 0 !important;
  }

  .article-footer .col-md-3 {
    flex-direction: row !important;
  }
  .article-footer .col-md-3 .social-inst {
    margin-left: 15px;
  }

  .product {
    padding: 20px !important;
  }

  .product-wrap-rightside-footer table td:first-child {
    font-size: 15px;
  }
  .product-wrap-rightside-footer table th, .product-wrap-rightside-footer table td {
    width: 10%;
    padding: 0 !important;
  }
  .product-wrap-rightside-footer table thead th {
    font-size: 8px !important;
  }
  .product-wrap-rightside-footer table thead th span {
    font-size: 16px !important;
  }
  .product-wrap-rightside-footer table tbody td {
    word-break: break-word;
    padding-bottom: 30px;
    font-size: 8px !important;
  }
}
@media screen and (max-width: 500px) {
  .contacts {
    padding: 40px !important;
  }

  header {
    position: static !important;
  }
  header .col-md-1 {
    max-width: 40% !important;
    flex-basis: 50%;
  }
  header .col-md-11 {
    flex-basis: 60%;
  }

  .stages, .top-sales, .portfolio-leftside, .polygraphy-in-kiev, .hero-head {
    padding: 20px !important;
  }

  .portfolio-rightside {
    padding: 50px 20px !important;
  }
  .portfolio-rightside h3 {
    font-size: 28px !important;
  }

  .top-sales-head .col-md-12 {
    flex-wrap: wrap;
  }

  .top-sales-head-leftside {
    width: 100% !important;
  }
  .top-sales-head-leftside h2 {
    margin-bottom: 10px;
  }

  .top-sales-head-rightside {
    width: 100% !important;
  }

  .our-clients-wrap-rightside {
    padding: 50px 20px 0 20px !important;
  }
  .our-clients-wrap-rightside .slick-dots {
    width: 40% !important;
  }

  .hero-footer {
    margin-top: 50px !important;
  }
  .hero-footer .col-md-4 {
    width: 100% !important;
  }

  .stages-body {
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
  }
  .stages-body .stages-body-item {
    width: 100% !important;
  }
  .stages-body .stages-body-item p {
    font-size: 14px;
  }
  .stages-body .stages-body-item-arrow {
    margin-left: -20px;
  }
  .stages-body .stages-body-item-arrow svg {
    margin-left: 0 !important;
    transform: rotate(90deg);
    margin-top: 70px;
  }

  .footer {
    padding: 40px !important;
  }

  .produkciya {
    padding: 20px !important;
  }
  .produkciya .produkciya-wrap-rightside-item {
    width: 140px !important;
    height: 230px !important;
  }

  .produkciya-info {
    padding: 20px !important;
  }

  .produkciya-info-footer .col-md-9 {
    flex-direction: column !important;
  }
  .produkciya-info-footer .col-md-9 .produkciya-info-footer-item {
    width: 100% !important;
  }

  .article {
    padding: 20px !important;
  }

  .article-head-leftside h1 {
    font-size: 18px;
  }

  .article-head-rightside span {
    font-size: 13px;
  }

  .article-footer-navigation span {
    font-size: 12px;
  }

  .product-wrap-rightside-head, .product-wrap-rightside-end {
    flex-direction: column;
    align-items: start !important;
  }
  .product-wrap-rightside-head .product-wrap-rightside-head-right, .product-wrap-rightside-head .product-wrap-rightside-end-buttons, .product-wrap-rightside-end .product-wrap-rightside-head-right, .product-wrap-rightside-end .product-wrap-rightside-end-buttons {
    margin-top: 40px;
  }

  .product-wrap-rightside-end {
    align-items: center !important;
  }
}
@media screen and (max-width: 380px) {
  .footer .row {
    flex-wrap: wrap;
  }
  .footer .row .col-md-3 {
    width: 100% !important;
  }
  .footer .row .col-md-3:nth-child(3) {
    margin-top: 20px;
  }

  .nav-menu .nav-menu-head-leftside a {
    font-size: 10px !important;
  }
  .nav-menu .nav-menu-footer-icons {
    width: 40% !important;
  }
}

/*# sourceMappingURL=media.css.map */
