@import "fonts.css";
@import "media.css";

$main-text: #36373b;
$main-blue: #014b94;
$secondary-blue: #0d559f;
$menu-hover: #36373b;
$main-bg: #f4f7fc;

*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, p, span {
  font-weight: 300;
}

a {
  text-transform: uppercase;
  text-decoration: none !important;
}

.container {
  max-width: 1300px !important;
}

.row {
  margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;

  .col-md-1 {
    border-bottom: 0.5px solid #d5d5d5;

    .header-logo {
      height: 140px;
      background: $main-blue;
    }
  }

  .col-md-11 {
    .header-wrap-left-side {
      width: 70%;
      height: 140px;


      .header-navigation {
        width: 100%;

        nav {
          height: 100%;

          ul {
            display: flex;
            height: 100%;
            margin-bottom: 0;

            .active {
              background: $menu-hover;

              a {
                color: #fff;
              }
            }

            li {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20%;
              height: 100%;
              color: $main-text;
              border: 0.5px solid #d5d5d5;
              background: #fff;
              border-right: none;
              text-transform: uppercase;
              position: relative;
              transition: .4s ease;
              font-size: 14px;

              a {
                color: $main-text;
                transition: .4s ease;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              span {
                position: absolute;
                bottom: 10px;
                left: 10px;
                color: #cdcdcd;
                transition: .4s ease;
              }

              &:hover {
                background: $menu-hover;
                color: #fff;
                cursor: pointer;

                a {
                  color: #fff;
                }

                span {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }

  .header-wrap-right-side {
    width: 30%;
    height: 140px;
    border-left: 0.5px solid #d5d5d5;
    border-bottom: 0.5px solid #d5d5d5;
    background: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 60px;

    .header-lang {
      .change-lang {
        span {
          color: #cdcdcd;
          transition: .3s ease;

          &:first-child {
            margin-right: 10px;
          }
        }

        .active-lang {
          color: $main-text;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .header-btn-order {
      a {
        font-size: 13px;
        padding: 10px 30px;
        background: $main-blue;
        color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 25px -5px #39B6FF;
        transition: .3s ease;

        &:hover {
          background: $secondary-blue;
        }
      }
    }
  }
}

.left-aside {
  border-right: 0.5px solid #d5d5d5;
  border-left: 0.5px solid #d5d5d5;
  display: flex;
  justify-content: center;

  .social-networks {
    position: fixed;
    bottom: 50px;
    margin: 0 auto;
    transition: .4s ease;

    .social-inst, .social-fb {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    svg {
      fill: $main-blue;
      width: 20px;
      height: 20px;
    }
  }

  .aside-position {
    position: absolute;
    bottom: 0;
  }
}


.hero {
  max-width: 2560px;
  margin: 0 auto;

  .hero-wrap {
    border-bottom: 0.5px solid #d5d5d5;

    .col-md-7 {
      background: #fff;
      padding-bottom: 40px;

      .hero-head {
        padding: 60px 0 0 60px;

        h1 {
          font-weight: 300;
          color: $main-text;
        }

        p {
          padding: 5px 0 10px;
          color: $main-text;
        }

        a {
          font-size: 13px;
          padding: 10px 30px;
          color: #fff;
          background: $main-blue;
          border-radius: 30px;
          transition: .3s ease;

          &:hover {
            cursor: pointer;
            background: $secondary-blue;
          }
        }
      }

      .hero-footer {
        padding: 60px 0 0 60px;
        margin-top: 100px;
        border-top: 0.5px solid #d5d5d5;

        p {
          color: $main-text;
        }
      }
    }

    .hero-rightside {
      position: relative;
      overflow: hidden;

      .hero-slider {
        width: 100%;
        height: 100%;

        .hero-slider-item {
          img {
            width: 100%;
            height: 600px;
          }
        }
      }

      .hero-slider-arrows {
        padding: 0 30px;
        position: absolute;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;

        svg {
          fill: #fff;

          &:hover {
            cursor: pointer;
          }

          path {
            transform: scale(2);
          }
        }

        #heroArrowLeft {
          position: relative;

          &:before {
            content: '(';
            position: absolute;
            top: 3px;
            left: -10px;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            transform: scale(2);
            color: #fff;
          }
        }

        #heroArrowRight {
          position: relative;

          &:before {
            content: ')';
            position: absolute;
            top: 3px;
            right: -20px;
            margin: 0 auto;
            width: 10px;
            height: 10px;
            transform: scale(2);
            color: #fff;
          }
        }
      }

      .hero-slider-circle-big {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        border: 0.5px solid #fff;
        border-radius: 50%;
        width: 110%;
        height: 110%;
        transform: scale(1.15);
        z-index: 1;
      }

      .hero-slider-circle-small {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0 auto;
        border: 1px solid #fff;
        border-radius: 50%;
        width: 110%;
        height: 110%;
        transform: scale(1.1);
        z-index: 1;
      }
    }
  }
}

.polygraphy-in-kiev {
  padding: 50px 0 50px 30px;
  background: #F5F7FC;
  position: relative;
  z-index: 2;

  .col-md-5 {
    h2 {
      color: $main-text;
    }

    span {
      color: $main-blue;
    }
  }

  .col-md-7 {
    .col-md-4 p {
      &:first-child {
        font-size: 60px;
        font-weight: 400;
        color: $main-blue;
      }

      color: $main-text;
    }
  }
}

.portfolio {
  background: #F5F7FC;

  .row {
    max-width: 2560px;
    margin: 0 auto;
  }

  .portfolio-leftside {
    padding: 100px 30px 80px 50px;

    h2 {
      font-size: 40px;
      margin-bottom: 100px;
      color: $main-text;
    }

    h3 {
      font-size: 35px;
      color: $main-text;
    }

    p {
      width: 60%;
      color: $main-text;
    }

    .portfolio-leftside-footer {
      span {
        color: $main-blue;
      }

      .portfolio-slider-arrow-left {
        margin-right: 20px;
      }

      svg {
        fill: #d5d5d5;
        transition: .3s ease;

        &:hover {
          fill: $main-blue;
          cursor: pointer;
        }
      }

      path {
        transform: scale(1.5);
      }
    }
  }

  .portfolio-rightside {
    background-color: #0e559e;
    width: 100%;
    padding: 90px 30px 90px 50px;

    h3 {
      color: #fff;
      font-size: 35px;
    }

    .arrow-more {
      img {
        width: 60px;
      }

      p {
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}

.our-clients {
  padding: 50px 0;
  background: #F5F7FC;

  .our-clients-wrap {
    background: #fff;
    border: 0.5px solid #d5d5d5;

    .our-clients-wrap-leftside {
      .mayak {
        background-color: $main-blue;
      }

      .our-clients-wrap-leftside-item {
        padding: 20px;
        border: 0.5px solid #d5d5d5;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;

        img {
          width: 100%;
        }

        &:hover {
          background: $main-blue;
        }
      }
    }

    .our-clients-wrap-rightside {
      padding: 50px 90px 0 90px;
      margin-top: 100px;

      .our-clients-slider-item {
        display: flex;
        flex-direction: column;
        align-items: center;

        h3 {
          color: $main-text;
          text-align: center;
        }

        p {
          color: $main-text;
        }

        .comment-icon {
          width: 50px;
          height: 50px;
          background: $main-blue;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 30px;
          }
        }

        .comment-company {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .comment-company-logo {
            width: 50px;
            height: 50px;
            border-radius: 50%;

            img {
              border-radius: 50%;
              width: 50px;
            }
          }

          p {
            text-transform: uppercase;
            font-size: 12px;
            color: $main-text;
          }
        }

        p {
          text-align: center;
        }
      }
    }

    .slick-dots {
      margin: 0 auto;
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      li {
        background: $main-bg;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        transition: .3s ease;

        &:hover {
          cursor: pointer;
        }
      }

      button {
        display: none;
      }

      .slick-active {
        width: 20px;
        height: 10px;
        border-radius: 40%;
        background: $main-blue;
      }
    }
  }
}

.top-sales {
  padding: 50px;

  .top-sales-head {
    color: $main-text;

    .top-sales-head-leftside {
      width: 30%;
    }

    .top-sales-head-rightside {
      width: 50%;
    }
  }

  .top-sales-body {
    .top-sales-body-slider-item {
      width: 200px;
      height: 400px;
      margin-right: 50px;

      .top-sales-body-slider-item-head {
        width: 100%;
        height: 100%;

        p {
          margin-top: 15px;
          text-transform: uppercase;
          color: $main-text;
          font-size: 15px;
        }

        .top-sales-body-slider-item-head-img {
          background: $main-blue;
          width: 100%;
          height: 90%;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .item-first {
          height: 60%;
        }

        .item-second {
          height: 70%;
        }

        .item-third {
          height: 80%;
        }
      }

      .top-sales-body-slider-item-footer {
        span {
          font-size: 13px;
        }
      }
    }
  }

  .top-sales-slider-arrows {
    span {
      color: $main-blue;
    }

    #topSalesArrowLeft {
      position: relative;

      &:before {
        content: '(';
        position: absolute;
        top: 3px;
        left: -10px;
        margin: 0 auto;
        width: 10px;
        height: 10px;
        transform: scale(2);
        color: $main-blue;
        opacity: 0;
        transition: .3s ease;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }

    #topSalesArrowRight {
      position: relative;

      &:before {
        content: ')';
        position: absolute;
        top: 3px;
        right: -10px;
        margin: 0 auto;
        width: 10px;
        height: 10px;
        transform: scale(2);
        color: $main-blue;
        opacity: 0;
        transition: .3s ease;
      }

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }

    svg {
      fill: #d5d5d5;
      transition: .3s ease;

      &:hover {
        fill: $main-blue;
        cursor: pointer;
      }
    }

    #topSalesArrowLeft {
      margin-right: 20px;
    }

    path {
      transform: scale(2);
    }
  }
}

.stages {
  padding: 50px;

  .stages-head {
    h2 {
      color: $main-text;
    }
  }

  .stages-body {
    width: 100%;

    .stages-body-item {
      width: 11%;

      span {
        color: $main-blue;
        font-size: 20px;
      }

      p {
        text-align: center;
        color: $main-text;
        margin-top: 30px;
        text-transform: uppercase;
      }

      svg {
        fill: $main-blue;
        width: 100px;
        height: 100px;
        margin: 0 auto;
      }
    }

    .stages-body-item-arrow {
      margin-top: -40px;

      svg {
        fill: $main-blue;
        margin-left: 30px;
      }

      path {
        transform: scale(1.9);
      }
    }
  }
}

.personal {
  background: $main-bg;

  .container {
    padding: 0;
  }

  .personal-item {
    padding: 20px;
    height: 423px;
    background-color: $main-bg;
    background-position: center center;
    border: 0.5px solid #fff;
    position: relative;
    transition: .5s ease;

    &:before {
      content: '';
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-image: url(/img/person1.jpeg);
      background-repeat: no-repeat;
      background-position: center center;
      transform: scale(1.3);
      border: 1px solid #fff;
      top: 80px;
      left: 0;
      right: 0;
      margin: 0 auto;
      transition: .5s ease;
    }

    &:hover {
      transition: .5s ease;
      background-image: url(/img/person1.jpeg);
      background-repeat: no-repeat;
      background-size: cover;

      &:before {
        transform: scale(1.5);
        background: none;
      }

      &:after {
        transition: .5s ease;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        background-color: $main-blue;
        opacity: .7;
        width: 100%;
        height: 100%;
      }

      .personal-item-head {
        opacity: 1;
      }

      .personal-item-footer-first {
        display: flex;
        opacity: 1;
      }

      .personal-item-footer-second {
        display: none;
      }
    }

    .personal-item-head {
      width: 50%;
      color: #fff;
      position: relative;
      z-index: 10;
      opacity: 0;
      transition: .5s ease;

      p {
        font-size: 11px;
      }
    }

    .personal-item-footer-first {
      position: relative;
      z-index: 10;
      opacity: 0;
      display: none;
      transition: .5s ease;

      a {
        text-transform: none;
        font-size: 11px;
        color: #fff;
      }
    }

    .personal-item-footer-second {
      color: $main-text;
      width: 50%;

      p {
        font-size: 11px;
      }
    }
  }
}

.map {
  height: 550px;
  #map {
    width: 100%;
    height: 550px;
  }
}

.footer {
  padding: 50px 50px 50px 120px;
  border-top: 0.5px solid #d5d5d5;

  .footer-logo {
    img {
      width: 250px;
    }
  }

  span {
    text-transform: uppercase;
    font-size: 16px;
    color: $main-text;
  }

  p {
    color: $main-text;
    font-size: 14px;
  }

  ul {
    li {
      margin-bottom: 7px;
      font-size: 13px;
      font-weight: 300;
      text-transform: none;
      color: $main-text;

      a {
        font-size: 13px;
        font-weight: 300;
        text-transform: none;
        color: $main-text;
      }
    }
  }

  .social-networks {
    .social-inst, .social-fb {
      width: 40px;
      height: 40px;
      background: #36373b;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .social-inst {
      margin-left: 15px;
    }

    svg {
      fill: #fff;
      width: 20px;
      height: 20px;
    }
  }
}

footer {
  font-size: 14px;
  background: $main-blue;
  color: #fff;
  padding: 20px 50px 20px 120px;

  p {
    margin-bottom: 0;
  }
}

.header-wrap-menu-btn {
  .burger-menu {
    rect {
      fill: $main-blue;
    }
  }
}

.nav-menu {
  width: 100%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  background: #F1F5F8;
  transition: .5s ease;
  z-index: 99999;
  padding: 80px 40px;

  .nav-menu-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-btn-order {
      a {
        font-size: 13px;
        padding: 10px 30px;
        background: $main-blue;
        color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 25px -5px #39B6FF;
        transition: .3s ease;

        &:hover {
          background: $secondary-blue;
        }
      }
    }
  }

  .nav-menu-body {
    text-align: center;
    margin-top: 100px;

    p {
      font-size: 25px;
      color: $main-text;
      margin-bottom: 15px;
    }

    div {
      width: 25%;
      height: 1px;
      background: $main-text;
      margin: 60px auto 0 auto;
    }
  }

  .nav-menu-footer {
    text-align: center;
    margin-top: 30px;

    a {
      text-decoration: none;
      color: $main-text;
      font-size: 25px;
    }

    .nav-menu-footer-icons {
      width: 25%;
      margin: 20px auto 0 auto;

      a {
        svg {
          width: 25px;
          fill: $main-blue;
        }
      }
    }
  }
}

.nav-menu.opened {
  transform: translateX(0);
}


// contact page style

.contacts {
  padding: 50px;

  h1 {
    font-size: 50px;
    color: $main-text;
    margin-bottom: 40px;
  }

  .contacts-wrap-leftside {
    .contacts-wrap-leftside-body {
      margin-bottom: 25px;

      p {
        text-transform: uppercase;
        color: $main-text;
        margin-bottom: 0;
        font-size: 18px;
      }

      a {
        text-transform: none;
        color: $main-blue;
        font-size: 21px;
        font-weight: 300;
      }
    }

    .contacts-wrap-leftside-footer {
      .contacts-wrap-leftside-footer-icons {
        margin-top: 30px;

        .social-inst, .social-fb {
          width: 40px;
          height: 40px;
          background: #36373b;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .social-inst {
          margin-left: 15px;
        }

        svg {
          fill: #fff;
          width: 20px;
          height: 20px;
        }
      }

      span {
        font-size: 18px;
        text-transform: uppercase;
        color: #323232;
      }

      p {
        color: #323232;
        margin-bottom: 0;
        font-size: 14px;
      }
    }
  }

  .contacts-wrap-rightside {
    .contacts-wrap-rightside-body {
      margin-top: 30px;

      p {
        color: $main-text;
      }

      .input-name-tel {
        label {
          width: 45%;
        }
      }

      label {
        margin-bottom: 20px;
        width: 100%;

        &:nth-child(3) {
          width: 100%;

          input {
            padding-top: 50px;

            &::placeholder {
              transform: translateY(-50px);
            }
          }
        }

        input {
          width: 100%;
          border-top: none;
          border-left: none;
          border-right: none;
          border-bottom: 0.5px solid #d5d5d5;
          color: $main-text;
          outline: none;
          padding-top: 15px;

          &::placeholder {
            color: $main-text;
            font-size: 14px;
            transform: translateY(-10px);
          }

        }
      }

      button {
        margin-top: 15px;
        text-transform: uppercase;
        border: none;
        font-size: 13px;
        padding: 10px 45px;
        background: #014b94;
        color: #fff;
        border-radius: 30px;
        transition: 0.3s ease;

        &:hover {
          background: #0d559f;
        }
      }
    }
  }
}


// end contact page style

// produkciya page style
.produkciya {
  padding: 50px;

  .produkciya-wrap {
    .produkciya-wrap-leftside {
      h1 {
        color: $main-text;
      }
    }

    .produkciya-wrap-rightside {
      .produkciya-wrap-rightside-item {
        width: 250px;
        height: 300px;

        .produkciya-img {
          width: 100%;
          height: 90%;
          background: $main-blue;
          img {
            width: 100%;
            height: 100%;
          }
        }

        p {
          text-transform: uppercase;
          color: $main-text;
          margin-top: 10px;
        }

        span {
          color: $main-text;
          margin-bottom: 20px;
        }
      }
    }

    .slick-dots {
      display: flex;
      justify-content: start;
      margin-left: 70px;

      li {
        button {
          font-weight: 300;
          color: $main-text;
          outline: none;
          background: none;
          border: none;
          font-size: 18px;
          margin-right: 15px;
        }

        &:last-child {
          button {
            margin-right: 0;
          }
        }
      }

      .slick-active {
        button {
          color: $main-blue;
          text-decoration: underline;
        }
      }
    }

    a {
      position: relative;
      top: -40px;
      margin-left: 15px;

      &:last-child {
        margin-left: 130px;
      }

      svg {
        fill: #d5d5d5;
        transition: .4s;

        &:hover {
          fill: $main-blue;
          cursor: pointer;
        }
      }
    }
  }
}

.produkciya-info {
  padding: 50px;
  h2, p {
    color: $main-text;
  }
  .col-md-3 {
    .produkciya-info-more {
      margin-top: 50px;
      svg {
        path {
          transform: scale(2.3);
        }
      }
    }
  }
  .produkciya-info-more-rightside {
    width: 100%;
    height: 400px;
    background: $main-blue;
  }
  .produkciya-info-footer {
    margin-top: 50px;
    .produkciya-info-footer-item {
      width: 45%;
    }
  }
}

// end produkciya page style

// catalog page style

.catalog {

  .catalog-banner {
    background: #0d559f;
    padding: 50px;
    h1 {
      color: #fff;
    }
    .catalog-arrows {
      margin-top: 70px;
      svg {
        fill: #4170b1;
        transition: .3s ease;
        path {
          transform: scale(2);
        }
        &:hover {
          fill: #fff;
          cursor: pointer;
        }
      }
      #catalogArrowLeft {
        position: relative;
        &:before {
          content: '(';
          position: absolute;
          top: 3px;
          left: -10px;
          margin: 0 auto;
          width: 10px;
          height: 10px;
          transform: scale(2);
          color: #fff;
          opacity: 0;
          transition: .3s ease;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
      #catalogArrowRight {
        position: relative;
        &:before {
          content: ')';
          position: absolute;
          top: 3px;
          right: -10px;
          margin: 0 auto;
          width: 10px;
          height: 10px;
          transform: scale(2);
          color: #fff;
          opacity: 0;
          transition: .3s ease;
        }
        &:hover {
          &:before {
            opacity: 1;
          }
        }
      }
      a {
        &:last-child {
          margin-left: 15px;
        }
      }
    }
  }

  .produkciya-wrap {
    margin-top: 50px;
    .produkciya-wrap-leftside {
      h1 {
        color: $main-text;
      }
    }

    .accordion {
      .card {
        border: none;
      }
      .card-header {
        background-color: #fff;
        padding: 0;
        border: none;
      }
      .card-body {
        padding: 1.25rem 1.5rem;
        border: none;
        .active {
          color: $main-blue
        }
        a {
          color: $main-text;
          font-weight: 300;
          text-transform: none;
          font-size: 13px;
          margin-left: 0;
          top: 0;
          transition: .3s ease;
          &:hover {
            color: $main-blue
          }
        }
      }
      button {
        color: $main-text;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 14px;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          box-shadow: none;
          text-decoration: none;
        }
        svg {
          transform: rotate(90deg);
          fill: $main-blue;
          transition: .5s ease;
        }
      }
      .collapsed {
        svg {
          transform: rotate(-90deg);
          fill: $main-text;
        }
      }
    }

    .produkciya-wrap-rightside {
      .produkciya-wrap-rightside-item {
        width: 250px;
        height: 300px;

        .produkciya-img {
          width: 100%;
          height: 90%;
          background: $main-blue;
          img {
            width: 100%;
            height: 100%;
          }
        }

        p {
          text-transform: uppercase;
          color: $main-text;
          margin-top: 10px;
        }

        span {
          color: $main-text;
          margin-bottom: 20px;
        }
      }
    }

    .slick-dots {
      display: flex;
      justify-content: start;
      margin-left: 70px;

      li {
        button {
          font-weight: 300;
          color: $main-text;
          outline: none;
          background: none;
          border: none;
          font-size: 18px;
          margin-right: 15px;
        }

        &:last-child {
          button {
            margin-right: 0;
          }
        }
      }

      .slick-active {
        button {
          color: $main-blue;
          text-decoration: underline;
        }
      }
    }

    a {
      position: relative;
      top: -40px;
      margin-left: 15px;

      &:last-child {
        margin-left: 130px;
      }

      svg {
        fill: #d5d5d5;
        transition: .4s;

        &:hover {
          fill: $main-blue;
          cursor: pointer;
        }
      }
    }
  }
}

.produkciya-info {
  padding: 50px;
  h2, p {
    color: $main-text;
  }
  .col-md-3 {
    .produkciya-info-more {
      margin-top: 50px;
      svg {
        path {
          transform: scale(2.3);
        }
      }
    }
  }
  .produkciya-info-more-rightside {
    width: 100%;
    height: 400px;
    background: $main-blue;
    img {
      width: 100%;
      height: 400px;
      opacity: .2;
    }
  }
  .produkciya-info-footer {
    margin-top: 50px;
    .produkciya-info-footer-item {
      width: 45%;
    }
  }
}

// end catalog page style


// article page style

.article {
  padding: 50px;
  .article-head {
    .article-head-leftside, .article-head-rightside {
      path {
        transform: scale(2);
        fill: $main-text;
      }
      svg:hover {
        cursor: pointer;
      }
      h1 {
        margin-left: 50px;
        color: $main-text;
      }
      span {
        color: $main-text;
        margin-right: 50px;
        text-transform: uppercase;
      }
    }
  }
  .article-body {
    margin-top: 50px;
    height: 400px;
    background: $main-blue;
    .col-md-12 {
      background: $main-blue;
      opacity: 0.2;
    }
    img {
      width: 100%;
      height: 400px;
    }
  }
  .article-footer {
    margin-top: 50px;
    .col-md-3 {
      .social-inst, .social-fb {
        width: 40px;
        height: 40px;
        background: #36373b;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .social-inst {
        margin-top: 20px;
      }

      svg {
        fill: #fff;
        width: 20px;
        height: 20px;
      }
    }
    p {
      color: $main-text;
    }
    img {
      width: 100%;
    }
    .article-footer-navigation {
      span {
        color: $main-text;
      }
      svg:hover {
        cursor: pointer;
      }
      path {
        transform: scale(2);
        fill: $main-text;
      }
    }
  }
}


// end article page style


// product page style

.product {
  padding: 50px;
  .product-wrap-rightside {
    h1, p, span {
      color: $main-text;
    }
    .product-wrap-rightside-head-left {
      width: 60%;
    }
    .product-wrap-rightside-head-right {
      a {
        position: static !important;
        top: 0 !important;
        margin-left: 0 !important;
        &:first-child {
          padding: 10px 45px;
          background: $main-blue;
          color: #fff;
          border-radius: 20px;
          transition: .3s ease;
          &:hover {
            background: #0d559f;
          }
        }
        &:last-child {
          text-decoration: underline !important;
          color: #696969;
          margin-top: 20px;
        }
      }
    }
    .product-wrap-rightside-img {
      height: 400px;
      img {
        width: 100%;
        height: 400px;
      }
    }
    .product-wrap-rightside-body {
      p {
        font-size: 22px;
      }
      ul {
        li {
          font-size: 15px;
          font-weight: 300;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 9px;
            left: -20px;
            width: 5px;
            height: 5px;
            background: $main-blue;
            border-radius: 50%;
          }
        }
      }
    }
    .product-wrap-rightside-footer {
      table {
        width: 100%;
        font-weight: 300;
        tr {
          border-top: 0.5px solid #d5d5d5;
        }
        th:first-child, td:first-child {
          width: 30%;
        }
        td:first-child {
          font-size: 15px;
        }
        th,td {
          width: 10%;
          padding: 10px;
        }
        th:not(:first-child) {
          text-align: center;
        }
        td:not(:first-child) {
          text-align: center;
        }
        thead {
          th {
            font-weight: 300;
            font-size: 12px;
            span {
              font-size: 26px;
            }
          }
        }
        tbody {
          td {
            padding-bottom: 30px;
            font-size: 12px;
          }
          tr:last-child {
            border-bottom: 0.5px solid #d5d5d5;
          }
        }
      }
    }
    .product-wrap-rightside-end {
      a {
        margin-left: 0 !important;
        position: static !important;
        top: 0 !important;
      }
      ul {
        width: 65%;
        li {
          font-size: 15px;
          font-weight: 300;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            top: 9px;
            left: -20px;
            width: 5px;
            height: 5px;
            background: $main-blue;
            border-radius: 50%;
          }
          a {
            text-transform: none;
            font-size: 15px;
            font-weight: 300;
            color: $main-blue;
          }
        }
      }
    }
    .product-wrap-rightside-end-buttons {
      a {
        &:first-child {
          padding: 10px 45px;
          background: $main-blue;
          color: #fff;
          border-radius: 20px;
          transition: .3s ease;
          &:hover {
            background: #0d559f;
          }
        }
        &:last-child {
          text-decoration: underline !important;
          color: #696969;
          margin-top: 20px;
        }
      }
    }
  }
}

// end product page style