@import "fonts.css";

$main-text: #ebebeb;

*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3, h4, p, span {
  font-weight: 300;
}

a {
  text-transform: uppercase;
  text-decoration: none !important;
}

.row {
  margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

header {
  .header-wrap-left-side {
    width: 70%;
    height: 140px;

    .header-logo {
      width: 14%;
      height: 140px;
      background: dodgerblue;
    }

    .header-navigation {
      width: 87%;

      nav {
        height: 100%;

        ul {
          display: flex;
          height: 100%;
          margin-bottom: 0;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            height: 100%;
            border: 0.5px solid #d5d5d5;
            border-right: none;
            text-transform: uppercase;
            position: relative;
            transition: .4s ease;
            font-size: 14px;

            span {
              position: absolute;
              bottom: 10px;
              left: 10px;
              color: #cdcdcd;
              transition: .4s ease;
            }

            &:hover {
              background: #343434;
              color: #fff;
              cursor: pointer;

              span {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .header-wrap-right-side {
    width: 30%;
    height: 140px;
    border-left: 0.5px solid #d5d5d5;
    border-bottom: 0.5px solid #d5d5d5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 60px;

    .header-lang {
      .change-lang {
        span {
          color: #cdcdcd;
          transition: .3s ease;

          &:first-child {
            margin-right: 10px;
          }
        }

        .active-lang {
          color: black;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .header-btn-order {
      a {
        font-size: 13px;
        padding: 10px 30px;
        background: #0b4682;
        color: #fff;
        border-radius: 30px;
        box-shadow: 0 5px 25px -5px #39B6FF;
        transition: .3s ease;

        &:hover {
          background: #0e559e;
        }
      }
    }
  }
}

.main-content-wrap {
  aside {
    width: 10.7%;
    height: 1500px;
    border-right: 0.5px solid #d5d5d5;;
  }

  .main-content {
    //padding: 60px;
    height: 500px;
    width: 100%;
  }
}

section .hero-wrap {
  border-bottom: 0.5px solid #d5d5d5;

  .col-md-7 {
    background: #fff;
    padding-bottom: 40px;

    .hero-head {
      padding: 60px 0 0 60px;

      h1 {
        font-weight: 300;
      }

      p {
        padding: 5px 0 10px;
      }

      a {
        font-size: 13px;
        padding: 10px 30px;
        color: #fff;
        background: #0b4682;
        border-radius: 30px;
        transition: .3s ease;

        &:hover {
          cursor: pointer;
          background: #0e559e;
        }
      }
    }

    .hero-footer {
      padding: 60px 0 0 60px;
      margin-top: 100px;
      border-top: 0.5px solid #d5d5d5;
    }
  }

  .col-md-5 {
    border-left: 0.5px solid #d5d5d5;

    .carousel {
      height: 100%;

      .carousel-control-prev {
        span {
          &:first-child {
            &:before {
              content: '';

            }
          }
        }
      }

      .carousel-inner {
        height: 100%;

        .carousel-item {
          height: 100%;

          img {
            height: 100%;
          }
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid #d5d5d5;
      z-index: 1;
    }
  }
}

.polygraphy-in-kiev {
  padding: 50px;
  background: #F5F7FC;

  .col-md-5 {
    span {
      color: #0e559e;
    }
  }

  .col-md-7 {
    .col-md-4 p {
      &:first-child {
        font-size: 60px;
        font-weight: 400;
        color: #0b4682;
      }
    }
  }
}

.portfolio {
  background: #F5F7FC;

  .portfolio-leftside {
    padding: 100px 30px 80px 50px;

    h2 {
      font-size: 40px;
      margin-bottom: 100px;
    }

    h3 {
      font-size: 35px;
    }

    p {
      width: 60%;
    }
    .portfolio-leftside-footer {
      span {
        color: #0e559e;
      }
      .portfolio-slider-arrow-left {
        margin-right: 20px;
      }
      svg {
        fill: #d5d5d5;
        transition: .3s ease;
        &:hover {
          fill: #0e559e;
          cursor: pointer;
        }
      }
      path {
        transform: scale(1.5);
      }
    }
  }

  .portfolio-rightside {
    background-color: #0e559e;
    width: 100%;
    padding: 90px 30px 90px 50px;
    h3 {
      color: #fff;
      font-size: 35px;
    }
    .arrow-more {
      img {
        width: 60px;
      }
      p {
        text-transform: uppercase;
        color: #fff;
      }
    }
  }
}