@import "fonts.css";
@import "media.css";
*, html, body {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

.disclaimer {
  display: none !important;
}

h1, h2, h3, h4, p, span {
  font-weight: 300;
}

a {
  text-transform: uppercase;
  text-decoration: none !important;
}

.container {
  max-width: 1300px !important;
}

.row {
  margin: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding: 0;
}

.container-fluid {
  padding: 0 !important;
}

.col-md-1 {
  max-width: 10% !important;
  flex: 0 0 10% !important;
}

.under-header .col-md-11 {
  max-width: 90%;
  flex: 0 0 90%;
}

header .col-md-1 {
  border-bottom: 0.5px solid #d5d5d5;
}
header .col-md-1 .header-logo {
  height: 130px;
  background: #014b94;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .col-md-1 .header-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .col-md-1 .header-logo img {
  width: 90%;
}
header .col-md-11 {
  max-width: 90%;
  flex: 0 0 90%;
}
header .col-md-11 .header-wrap-left-side {
  width: 70%;
  height: 130px;
}
header .col-md-11 .header-wrap-left-side .header-navigation {
  width: 100%;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav {
  height: 100%;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul {
  display: flex;
  height: 100%;
  margin-bottom: 0;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul .active {
  background: #36373b;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul .active a {
  color: #fff;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  color: #36373b;
  border: 0.5px solid #d5d5d5;
  background: #fff;
  border-right: none;
  text-transform: uppercase;
  position: relative;
  transition: 0.4s ease;
  font-size: 14px;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul li a {
  color: #36373b;
  transition: 0.4s ease;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul li span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #323232;
  transition: 0.4s ease;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul li:hover {
  background: #36373b;
  color: #fff;
  cursor: pointer;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul li:hover a {
  color: #fff;
}
header .col-md-11 .header-wrap-left-side .header-navigation nav ul li:hover span {
  color: #fff;
}
header .header-wrap-right-side {
  width: 30%;
  height: 130px;
  border-left: 0.5px solid #d5d5d5;
  border-bottom: 0.5px solid #d5d5d5;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 60px;
}
header .header-wrap-right-side .header-lang .change-lang span {
  color: #cdcdcd;
  transition: 0.3s ease;
}
header .header-wrap-right-side .header-lang .change-lang span:first-child {
  margin-right: 10px;
}
header .header-wrap-right-side .header-lang .change-lang .active-lang {
  color: #36373b;
}
header .header-wrap-right-side .header-lang .change-lang:hover {
  cursor: pointer;
}
header .header-wrap-right-side .header-btn-order a {
  font-size: 13px;
  padding: 10px 30px;
  background: #014b94;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 25px -5px #39B6FF;
  transition: 0.3s ease;
}
header .header-wrap-right-side .header-btn-order a:hover {
  background: #0d559f;
}

.left-aside {
  border-right: 0.5px solid #d5d5d5;
  border-left: 0.5px solid #d5d5d5;
  display: flex;
  justify-content: center;
}
.left-aside .social-networks {
  position: fixed;
  bottom: 50px;
  margin: 0 auto;
  transition: 0.4s ease;
}
.left-aside .social-networks .social-inst, .left-aside .social-networks .social-fb {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-aside .social-networks svg {
  fill: #014b94;
  width: 15px;
  height: 15px;
}
.left-aside .aside-position {
  position: absolute;
  bottom: 0;
}

.hero {
  max-width: 2560px;
  margin: 0 auto;
}
.hero .hero-wrap {
  border-bottom: 0.5px solid #d5d5d5;
}
.hero .hero-wrap .col-md-7 {
  background: #fff;
}
.hero .hero-wrap .col-md-7 .hero-head {
  padding: 60px 0 0 60px;
}
.hero .hero-wrap .col-md-7 .hero-head span svg {
  transform: rotate(90deg);
  width: 40px;
  fill: #323232;
}
.hero .hero-wrap .col-md-7 .hero-head h1 {
  margin-top: 35px;
  font-weight: 300;
  color: #36373b;
}
.hero .hero-wrap .col-md-7 .hero-head p {
  padding: 5px 0 10px;
  color: #36373b;
}
.hero .hero-wrap .col-md-7 .hero-head a {
  font-size: 13px;
  padding: 10px 30px;
  color: #fff;
  background: #014b94;
  border-radius: 30px;
  transition: 0.3s ease;
}
.hero .hero-wrap .col-md-7 .hero-head a:hover {
  cursor: pointer;
  background: #0d559f;
}
.hero .hero-wrap .col-md-7 .hero-footer {
  padding: 60px 0 0 60px;
  margin-top: 100px;
  border-top: 0.5px solid #d5d5d5;
}
.hero .hero-wrap .col-md-7 .hero-footer p {
  color: #36373b;
  font-size: 12px;
}
.hero .hero-wrap .hero-rightside {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.hero .hero-wrap .hero-rightside .hero-slider {
  width: 100%;
  height: 100%;
}
.hero .hero-wrap .hero-rightside .hero-slider .hero-slider-item img {
  width: 100%;
  height: 650px;
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows {
  width: 80% !important;
  padding: 0 30px;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows svg {
  fill: #fff;
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows svg:hover {
  cursor: pointer;
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows svg path {
  transform: scale(2);
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows #heroArrowLeft {
  position: relative;
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows #heroArrowLeft svg {
  position: relative;
  z-index: 5;
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows #heroArrowLeft:before {
  content: url("/img/half-circle.png");
  position: absolute;
  z-index: 1;
  top: 1px;
  right: 8px;
  margin: 0 auto;
  transform: rotate(-90deg);
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows #heroArrowRight {
  position: relative;
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows #heroArrowRight svg {
  position: relative;
  z-index: 5;
  transform: rotate(180deg);
}
.hero .hero-wrap .hero-rightside .hero-slider-arrows #heroArrowRight:before {
  content: url("/img/half-circle.png");
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 8px;
  margin: 0 auto;
  transform: rotate(90deg);
}
.hero .hero-wrap .hero-rightside .hero-slider-circle-big {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  border: 0.5px solid #fff;
  border-radius: 50%;
  width: 110%;
  height: 110%;
  transform: scale(1.15);
  z-index: 1;
}
.hero .hero-wrap .hero-rightside .hero-slider-circle-small {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 110%;
  height: 110%;
  transform: scale(1.1);
  z-index: 1;
}

.polygraphy-in-kiev {
  padding: 50px 0 50px 30px;
  background: #F5F7FC;
  position: relative;
  z-index: 2;
}
.polygraphy-in-kiev .col-md-5 h2 {
  color: #36373b;
}
.polygraphy-in-kiev .col-md-5 span {
  color: #014b94;
}
.polygraphy-in-kiev .col-md-7 .col-md-4 p {
  color: #36373b;
}
.polygraphy-in-kiev .col-md-7 .col-md-4 p:first-child {
  font-size: 60px;
  font-weight: 400;
  color: #014b94;
}

.portfolio {
  background: #F5F7FC;
}
.portfolio .row {
  max-width: 2560px;
  margin: 0 auto;
}
.portfolio .portfolio-leftside {
  padding: 100px 30px 80px 50px;
}
.portfolio .portfolio-leftside h2 {
  font-size: 40px;
  margin-bottom: 100px;
  color: #36373b;
}
.portfolio .portfolio-leftside h3 {
  font-size: 35px;
  color: #36373b;
}
.portfolio .portfolio-leftside p {
  width: 60%;
  color: #36373b;
}
.portfolio .portfolio-leftside .portfolio-leftside-footer span {
  color: #014b94;
}
.portfolio .portfolio-leftside .portfolio-leftside-footer .portfolio-slider-arrow-left {
  margin-right: 20px;
}
.portfolio .portfolio-leftside .portfolio-leftside-footer svg {
  fill: #d5d5d5;
  transition: 0.3s ease;
}
.portfolio .portfolio-leftside .portfolio-leftside-footer svg:hover {
  fill: #014b94;
  cursor: pointer;
}
.portfolio .portfolio-leftside .portfolio-leftside-footer path {
  transform: scale(1.5);
}
.portfolio .portfolio-rightside {
  background-color: #0e559e;
  width: 100%;
  padding: 90px 30px 90px 50px;
}
.portfolio .portfolio-rightside h3 {
  color: #fff;
  font-size: 35px;
}
.portfolio .portfolio-rightside .arrow-more img {
  width: 60px;
}
.portfolio .portfolio-rightside .arrow-more p {
  text-transform: uppercase;
  color: #fff;
}

.our-clients {
  padding: 50px 0;
  background: #F5F7FC;
}
.our-clients .our-clients-wrap {
  background: #fff;
  border: 0.5px solid #d5d5d5;
}
.our-clients .our-clients-wrap .our-clients-wrap-leftside .mayak {
  background-color: #014b94;
}
.our-clients .our-clients-wrap .our-clients-wrap-leftside .our-clients-wrap-leftside-item {
  padding: 20px;
  border: 0.5px solid #d5d5d5;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.our-clients .our-clients-wrap .our-clients-wrap-leftside .our-clients-wrap-leftside-item img {
  width: 70%;
}
.our-clients .our-clients-wrap .our-clients-wrap-leftside .our-clients-wrap-leftside-item:hover {
  background: #014b94;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside {
  padding: 50px 90px 0 90px;
  margin-top: 50px;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item h3 {
  color: #36373b;
  text-align: center;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item p {
  color: #36373b;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item .comment-icon {
  width: 50px;
  height: 50px;
  background: #014b94;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item .comment-icon img {
  width: 30px;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item .comment-company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item .comment-company .comment-company-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item .comment-company .comment-company-logo img {
  border-radius: 50%;
  width: 50px;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item .comment-company p {
  text-transform: uppercase;
  font-size: 12px;
  color: #36373b;
}
.our-clients .our-clients-wrap .our-clients-wrap-rightside .our-clients-slider-item p {
  text-align: center;
}
.our-clients .our-clients-wrap .slick-dots {
  margin: 0 auto;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.our-clients .our-clients-wrap .slick-dots li {
  background: #f4f7fc;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: 0.3s ease;
}
.our-clients .our-clients-wrap .slick-dots li:hover {
  cursor: pointer;
}
.our-clients .our-clients-wrap .slick-dots button {
  display: none;
}
.our-clients .our-clients-wrap .slick-dots .slick-active {
  width: 20px;
  height: 10px;
  border-radius: 40%;
  background: #014b94;
}

.top-sales {
  padding: 50px;
}
.top-sales .top-sales-head {
  color: #36373b;
}
.top-sales .top-sales-head .top-sales-head-leftside {
  width: 30%;
}
.top-sales .top-sales-head .top-sales-head-rightside {
  width: 50%;
}
.top-sales .top-sales-body .top-sales-body-slider-item {
  width: 200px;
  height: 400px;
  margin-right: 50px;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-head {
  width: 100%;
  height: 100%;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-head p {
  margin-top: 15px;
  text-transform: uppercase;
  color: #36373b;
  font-size: 15px;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-head .top-sales-body-slider-item-head-img {
  background: #014b94;
  width: 100%;
  height: 90%;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-head .top-sales-body-slider-item-head-img img {
  width: 100%;
  height: 100%;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-head .item-first {
  height: 60%;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-head .item-second {
  height: 70%;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-head .item-third {
  height: 80%;
}
.top-sales .top-sales-body .top-sales-body-slider-item .top-sales-body-slider-item-footer span {
  font-size: 13px;
}
.top-sales .top-sales-slider-arrows span {
  color: #014b94;
}
.top-sales .top-sales-slider-arrows #topSalesArrowLeft {
  position: relative;
}
.top-sales .top-sales-slider-arrows #topSalesArrowLeft:before {
  content: "(";
  position: absolute;
  top: 3px;
  left: -10px;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  transform: scale(2);
  color: #014b94;
  opacity: 0;
  transition: 0.3s ease;
}
.top-sales .top-sales-slider-arrows #topSalesArrowLeft:hover:before {
  opacity: 1;
}
.top-sales .top-sales-slider-arrows #topSalesArrowRight {
  position: relative;
}
.top-sales .top-sales-slider-arrows #topSalesArrowRight:before {
  content: ")";
  position: absolute;
  top: 3px;
  right: -10px;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  transform: scale(2);
  color: #014b94;
  opacity: 0;
  transition: 0.3s ease;
}
.top-sales .top-sales-slider-arrows #topSalesArrowRight:hover:before {
  opacity: 1;
}
.top-sales .top-sales-slider-arrows svg {
  fill: #d5d5d5;
  transition: 0.3s ease;
}
.top-sales .top-sales-slider-arrows svg:hover {
  fill: #014b94;
  cursor: pointer;
}
.top-sales .top-sales-slider-arrows #topSalesArrowLeft {
  margin-right: 20px;
}
.top-sales .top-sales-slider-arrows path {
  transform: scale(2);
}

.stages {
  padding: 50px;
}
.stages .stages-head h2 {
  color: #36373b;
}
.stages .stages-body {
  width: 100%;
}
.stages .stages-body .stages-body-item {
  width: 11%;
}
.stages .stages-body .stages-body-item span {
  color: #014b94;
  font-size: 20px;
}
.stages .stages-body .stages-body-item p {
  text-align: center;
  color: #36373b;
  margin-top: 30px;
  text-transform: uppercase;
}
.stages .stages-body .stages-body-item svg {
  fill: #014b94;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.stages .stages-body .stages-body-item-arrow {
  margin-top: -40px;
}
.stages .stages-body .stages-body-item-arrow svg {
  fill: #014b94;
  margin-left: 30px;
}
.stages .stages-body .stages-body-item-arrow path {
  transform: scale(1.9);
}

.personal {
  background: #f4f7fc;
}
.personal .container {
  padding: 0;
}
.personal .personal-item {
  padding: 20px;
  height: 423px;
  background-color: #f4f7fc;
  background-position: center center;
  border: 0.5px solid #fff;
  position: relative;
  transition: 0.5s ease;
}
.personal .personal-item:before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url(/img/person1.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  transform: scale(1.3);
  border: 1px solid #fff;
  top: 80px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.5s ease;
}
.personal .personal-item:hover {
  transition: 0.5s ease;
  background-image: url(/img/person1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.personal .personal-item:hover:before {
  transform: scale(1.5);
  background: none;
}
.personal .personal-item:hover:after {
  transition: 0.5s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #014b94;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}
.personal .personal-item:hover .personal-item-head {
  opacity: 1;
}
.personal .personal-item:hover .personal-item-footer-first {
  display: flex;
  opacity: 1;
}
.personal .personal-item:hover .personal-item-footer-second {
  display: none;
}
.personal .personal-item .personal-item-head {
  width: 50%;
  color: #fff;
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: 0.5s ease;
}
.personal .personal-item .personal-item-head p {
  font-size: 11px;
}
.personal .personal-item .personal-item-footer-first {
  position: relative;
  z-index: 10;
  opacity: 0;
  display: none;
  transition: 0.5s ease;
}
.personal .personal-item .personal-item-footer-first a {
  text-transform: none;
  font-size: 11px;
  color: #fff;
}
.personal .personal-item .personal-item-footer-second {
  color: #36373b;
  width: 50%;
}
.personal .personal-item .personal-item-footer-second p {
  font-size: 11px;
}

.map {
  height: 550px;
}
.map #map {
  width: 100%;
  height: 550px;
}

.footer {
  padding: 50px 50px 50px 130px;
  border-top: 0.5px solid #d5d5d5;
}
.footer .footer-logo {
  width: 160px;
  height: 160px;
  background: #014b94;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer-logo img {
  width: 90%;
}
.footer span {
  text-transform: uppercase;
  font-size: 16px;
  color: #36373b;
}
.footer p {
  color: #36373b;
  font-size: 14px;
}
.footer ul li {
  margin-bottom: 7px;
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
  color: #36373b;
}
.footer ul li a {
  font-size: 13px;
  font-weight: 300;
  text-transform: none;
  color: #36373b;
}
.footer .social-networks .social-inst, .footer .social-networks .social-fb {
  width: 40px;
  height: 40px;
  background: #36373b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .social-networks .social-inst {
  margin-left: 15px;
}
.footer .social-networks svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}

footer {
  font-size: 14px;
  background: #014b94;
  color: #fff;
  padding: 20px 50px 20px 120px;
}
footer p {
  margin-bottom: 0;
}

.header-wrap-menu-btn .burger-menu rect {
  fill: #014b94;
}

.nav-menu {
  width: 100%;
  position: fixed;
  right: 0;
  transform: translateX(100%);
  background: #F1F5F8;
  transition: 0.5s ease;
  z-index: 99999;
  padding: 80px 40px;
}
.nav-menu .nav-menu-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menu .nav-menu-head .header-btn-order a {
  font-size: 13px;
  padding: 10px 30px;
  background: #014b94;
  color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 25px -5px #39B6FF;
  transition: 0.3s ease;
}
.nav-menu .nav-menu-head .header-btn-order a:hover {
  background: #0d559f;
}
.nav-menu .nav-menu-body {
  text-align: center;
  margin-top: 100px;
}
.nav-menu .nav-menu-body p {
  font-size: 25px;
  color: #36373b;
  margin-bottom: 15px;
}
.nav-menu .nav-menu-body div {
  width: 25%;
  height: 1px;
  background: #36373b;
  margin: 60px auto 0 auto;
}
.nav-menu .nav-menu-footer {
  text-align: center;
  margin-top: 30px;
}
.nav-menu .nav-menu-footer a {
  text-decoration: none;
  color: #36373b;
  font-size: 25px;
}
.nav-menu .nav-menu-footer .nav-menu-footer-icons {
  width: 25%;
  margin: 20px auto 0 auto;
}
.nav-menu .nav-menu-footer .nav-menu-footer-icons a svg {
  width: 25px;
  fill: #014b94;
}

.nav-menu.opened {
  transform: translateX(0);
}

.contacts {
  padding: 50px;
}
.contacts h1 {
  font-size: 50px;
  color: #36373b;
  margin-bottom: 40px;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-body {
  margin-bottom: 25px;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-body p {
  text-transform: uppercase;
  color: #36373b;
  margin-bottom: 0;
  font-size: 18px;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-body a {
  text-transform: none;
  color: #014b94;
  font-size: 21px;
  font-weight: 300;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-footer .contacts-wrap-leftside-footer-icons {
  margin-top: 30px;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-footer .contacts-wrap-leftside-footer-icons .social-inst, .contacts .contacts-wrap-leftside .contacts-wrap-leftside-footer .contacts-wrap-leftside-footer-icons .social-fb {
  width: 40px;
  height: 40px;
  background: #36373b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-footer .contacts-wrap-leftside-footer-icons .social-inst {
  margin-left: 15px;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-footer .contacts-wrap-leftside-footer-icons svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-footer span {
  font-size: 18px;
  text-transform: uppercase;
  color: #323232;
}
.contacts .contacts-wrap-leftside .contacts-wrap-leftside-footer p {
  color: #323232;
  margin-bottom: 0;
  font-size: 14px;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body {
  margin-top: 30px;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body p {
  color: #36373b;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body .input-name-tel label {
  width: 45%;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body label {
  margin-bottom: 20px;
  width: 100%;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body label:nth-child(3) {
  width: 100%;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body label:nth-child(3) input {
  padding-top: 50px;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body label:nth-child(3) input::placeholder {
  transform: translateY(-50px);
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body label input {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 0.5px solid #d5d5d5;
  color: #36373b;
  outline: none;
  padding-top: 15px;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body label input::placeholder {
  color: #36373b;
  font-size: 14px;
  transform: translateY(-10px);
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body button {
  margin-top: 15px;
  text-transform: uppercase;
  border: none;
  font-size: 13px;
  padding: 10px 45px;
  background: #014b94;
  color: #fff;
  border-radius: 30px;
  transition: 0.3s ease;
}
.contacts .contacts-wrap-rightside .contacts-wrap-rightside-body button:hover {
  background: #0d559f;
}

.produkciya {
  padding: 50px;
}
.produkciya .produkciya-wrap .produkciya-wrap-leftside h1 {
  color: #36373b;
}
.produkciya .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item {
  width: 250px;
  height: 300px;
}
.produkciya .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item .produkciya-img {
  width: 100%;
  height: 90%;
  background: #014b94;
}
.produkciya .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item .produkciya-img img {
  width: 100%;
  height: 100%;
}
.produkciya .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item p {
  text-transform: uppercase;
  color: #36373b;
  margin-top: 10px;
}
.produkciya .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item span {
  color: #36373b;
  margin-bottom: 20px;
}
.produkciya .produkciya-wrap .slick-dots {
  display: flex;
  justify-content: start;
  margin-left: 70px;
}
.produkciya .produkciya-wrap .slick-dots li button {
  font-weight: 300;
  color: #36373b;
  outline: none;
  background: none;
  border: none;
  font-size: 18px;
  margin-right: 15px;
}
.produkciya .produkciya-wrap .slick-dots li:last-child button {
  margin-right: 0;
}
.produkciya .produkciya-wrap .slick-dots .slick-active button {
  color: #014b94;
  text-decoration: underline;
}
.produkciya .produkciya-wrap a {
  position: relative;
  top: -40px;
  margin-left: 15px;
}
.produkciya .produkciya-wrap a:last-child {
  margin-left: 130px;
}
.produkciya .produkciya-wrap a svg {
  fill: #d5d5d5;
  transition: 0.4s;
}
.produkciya .produkciya-wrap a svg:hover {
  fill: #014b94;
  cursor: pointer;
}

.produkciya-info {
  padding: 50px;
}
.produkciya-info h2, .produkciya-info p {
  color: #36373b;
}
.produkciya-info .col-md-3 .produkciya-info-more {
  margin-top: 50px;
}
.produkciya-info .col-md-3 .produkciya-info-more svg path {
  transform: scale(2.3);
}
.produkciya-info .produkciya-info-more-rightside {
  width: 100%;
  height: 400px;
  background: #014b94;
}
.produkciya-info .produkciya-info-footer {
  margin-top: 50px;
}
.produkciya-info .produkciya-info-footer .produkciya-info-footer-item {
  width: 45%;
}

.catalog .catalog-banner {
  background: #0d559f;
  padding: 50px;
}
.catalog .catalog-banner h1 {
  color: #fff;
}
.catalog .catalog-banner .catalog-arrows {
  margin-top: 70px;
}
.catalog .catalog-banner .catalog-arrows svg {
  fill: #4170b1;
  transition: 0.3s ease;
}
.catalog .catalog-banner .catalog-arrows svg path {
  transform: scale(2);
}
.catalog .catalog-banner .catalog-arrows svg:hover {
  fill: #fff;
  cursor: pointer;
}
.catalog .catalog-banner .catalog-arrows #catalogArrowLeft {
  position: relative;
}
.catalog .catalog-banner .catalog-arrows #catalogArrowLeft:before {
  content: "(";
  position: absolute;
  top: 3px;
  left: -10px;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  transform: scale(2);
  color: #fff;
  opacity: 0;
  transition: 0.3s ease;
}
.catalog .catalog-banner .catalog-arrows #catalogArrowLeft:hover:before {
  opacity: 1;
}
.catalog .catalog-banner .catalog-arrows #catalogArrowRight {
  position: relative;
}
.catalog .catalog-banner .catalog-arrows #catalogArrowRight:before {
  content: ")";
  position: absolute;
  top: 3px;
  right: -10px;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  transform: scale(2);
  color: #fff;
  opacity: 0;
  transition: 0.3s ease;
}
.catalog .catalog-banner .catalog-arrows #catalogArrowRight:hover:before {
  opacity: 1;
}
.catalog .catalog-banner .catalog-arrows a:last-child {
  margin-left: 15px;
}
.catalog .produkciya-wrap {
  margin-top: 50px;
}
.catalog .produkciya-wrap .produkciya-wrap-leftside h1 {
  color: #36373b;
}
.catalog .produkciya-wrap .accordion .card {
  border: none;
}
.catalog .produkciya-wrap .accordion .card-header {
  background-color: #fff;
  padding: 0;
  border: none;
}
.catalog .produkciya-wrap .accordion .card-body {
  padding: 1.25rem 1.5rem;
  border: none;
}
.catalog .produkciya-wrap .accordion .card-body .active {
  color: #014b94;
}
.catalog .produkciya-wrap .accordion .card-body a {
  color: #36373b;
  font-weight: 300;
  text-transform: none;
  font-size: 13px;
  margin-left: 0;
  top: 0;
  transition: 0.3s ease;
}
.catalog .produkciya-wrap .accordion .card-body a:hover {
  color: #014b94;
}
.catalog .produkciya-wrap .accordion button {
  color: #36373b;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
}
.catalog .produkciya-wrap .accordion button:hover {
  text-decoration: none;
}
.catalog .produkciya-wrap .accordion button:focus {
  box-shadow: none;
  text-decoration: none;
}
.catalog .produkciya-wrap .accordion button svg {
  transform: rotate(90deg);
  fill: #014b94;
  transition: 0.5s ease;
}
.catalog .produkciya-wrap .accordion .collapsed svg {
  transform: rotate(-90deg);
  fill: #36373b;
}
.catalog .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item {
  width: 250px;
  height: 300px;
}
.catalog .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item .produkciya-img {
  width: 100%;
  height: 90%;
  background: #014b94;
}
.catalog .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item .produkciya-img img {
  width: 100%;
  height: 100%;
}
.catalog .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item p {
  text-transform: uppercase;
  color: #36373b;
  margin-top: 10px;
}
.catalog .produkciya-wrap .produkciya-wrap-rightside .produkciya-wrap-rightside-item span {
  color: #36373b;
  margin-bottom: 20px;
}
.catalog .produkciya-wrap .slick-dots {
  display: flex;
  justify-content: start;
  margin-left: 70px;
}
.catalog .produkciya-wrap .slick-dots li button {
  font-weight: 300;
  color: #36373b;
  outline: none;
  background: none;
  border: none;
  font-size: 18px;
  margin-right: 15px;
}
.catalog .produkciya-wrap .slick-dots li:last-child button {
  margin-right: 0;
}
.catalog .produkciya-wrap .slick-dots .slick-active button {
  color: #014b94;
  text-decoration: underline;
}
.catalog .produkciya-wrap a {
  position: relative;
  top: -40px;
  margin-left: 15px;
}
.catalog .produkciya-wrap a:last-child {
  margin-left: 130px;
}
.catalog .produkciya-wrap a svg {
  fill: #d5d5d5;
  transition: 0.4s;
}
.catalog .produkciya-wrap a svg:hover {
  fill: #014b94;
  cursor: pointer;
}

.produkciya-info {
  padding: 50px;
}
.produkciya-info h2, .produkciya-info p {
  color: #36373b;
}
.produkciya-info .col-md-3 .produkciya-info-more {
  margin-top: 50px;
}
.produkciya-info .col-md-3 .produkciya-info-more svg path {
  transform: scale(2.3);
}
.produkciya-info .produkciya-info-more-rightside {
  width: 100%;
  height: 400px;
  background: #014b94;
}
.produkciya-info .produkciya-info-more-rightside img {
  width: 100%;
  height: 400px;
  opacity: 0.2;
}
.produkciya-info .produkciya-info-footer {
  margin-top: 50px;
}
.produkciya-info .produkciya-info-footer .produkciya-info-footer-item {
  width: 45%;
}

.article {
  padding: 50px;
}
.article .article-head .article-head-leftside path, .article .article-head .article-head-rightside path {
  transform: scale(2);
  fill: #36373b;
}
.article .article-head .article-head-leftside svg:hover, .article .article-head .article-head-rightside svg:hover {
  cursor: pointer;
}
.article .article-head .article-head-leftside h1, .article .article-head .article-head-rightside h1 {
  margin-left: 50px;
  color: #36373b;
}
.article .article-head .article-head-leftside span, .article .article-head .article-head-rightside span {
  color: #36373b;
  margin-right: 50px;
  text-transform: uppercase;
}
.article .article-body {
  margin-top: 50px;
  height: 400px;
  background: #014b94;
}
.article .article-body .col-md-12 {
  background: #014b94;
  opacity: 0.2;
}
.article .article-body img {
  width: 100%;
  height: 400px;
}
.article .article-footer {
  margin-top: 50px;
}
.article .article-footer .col-md-3 .social-inst, .article .article-footer .col-md-3 .social-fb {
  width: 40px;
  height: 40px;
  background: #36373b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article .article-footer .col-md-3 .social-inst {
  margin-top: 20px;
}
.article .article-footer .col-md-3 svg {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.article .article-footer p {
  color: #36373b;
}
.article .article-footer img {
  width: 100%;
}
.article .article-footer .article-footer-navigation span {
  color: #36373b;
}
.article .article-footer .article-footer-navigation svg:hover {
  cursor: pointer;
}
.article .article-footer .article-footer-navigation path {
  transform: scale(2);
  fill: #36373b;
}

.product {
  padding: 50px;
}
.product .product-wrap-rightside h1, .product .product-wrap-rightside p, .product .product-wrap-rightside span {
  color: #36373b;
}
.product .product-wrap-rightside .product-wrap-rightside-head-left {
  width: 60%;
}
.product .product-wrap-rightside .product-wrap-rightside-head-right a {
  position: static !important;
  top: 0 !important;
  margin-left: 0 !important;
}
.product .product-wrap-rightside .product-wrap-rightside-head-right a:first-child {
  padding: 10px 45px;
  background: #014b94;
  color: #fff;
  border-radius: 20px;
  transition: 0.3s ease;
}
.product .product-wrap-rightside .product-wrap-rightside-head-right a:first-child:hover {
  background: #0d559f;
}
.product .product-wrap-rightside .product-wrap-rightside-head-right a:last-child {
  text-decoration: underline !important;
  color: #696969;
  margin-top: 20px;
}
.product .product-wrap-rightside .product-wrap-rightside-img {
  height: 400px;
}
.product .product-wrap-rightside .product-wrap-rightside-img img {
  width: 100%;
  height: 400px;
}
.product .product-wrap-rightside .product-wrap-rightside-body p {
  font-size: 22px;
}
.product .product-wrap-rightside .product-wrap-rightside-body ul li {
  font-size: 15px;
  font-weight: 300;
  position: relative;
}
.product .product-wrap-rightside .product-wrap-rightside-body ul li:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -20px;
  width: 5px;
  height: 5px;
  background: #014b94;
  border-radius: 50%;
}
.product .product-wrap-rightside .product-wrap-rightside-footer table {
  color: #323232;
}
.product .product-wrap-rightside .product-wrap-rightside-footer table td, .product .product-wrap-rightside .product-wrap-rightside-footer table tr, .product .product-wrap-rightside .product-wrap-rightside-footer table th {
  font-weight: 300;
}
.product .product-wrap-rightside .product-wrap-rightside-footer table th:first-child {
  width: 200px;
}
.product .product-wrap-rightside .product-wrap-rightside-footer table th:first-child span {
  font-size: 25px;
}
.product .product-wrap-rightside .product-wrap-rightside-end a {
  margin-left: 0 !important;
  position: static !important;
  top: 0 !important;
}
.product .product-wrap-rightside .product-wrap-rightside-end ul {
  width: 65%;
}
.product .product-wrap-rightside .product-wrap-rightside-end ul li {
  font-size: 15px;
  font-weight: 300;
  position: relative;
}
.product .product-wrap-rightside .product-wrap-rightside-end ul li:before {
  content: "";
  position: absolute;
  top: 9px;
  left: -20px;
  width: 5px;
  height: 5px;
  background: #014b94;
  border-radius: 50%;
}
.product .product-wrap-rightside .product-wrap-rightside-end ul li a {
  text-transform: none;
  font-size: 15px;
  font-weight: 300;
  color: #014b94;
}
.product .product-wrap-rightside .product-wrap-rightside-end-buttons a:first-child {
  padding: 10px 45px;
  background: #014b94;
  color: #fff;
  border-radius: 20px;
  transition: 0.3s ease;
}
.product .product-wrap-rightside .product-wrap-rightside-end-buttons a:first-child:hover {
  background: #0d559f;
}
.product .product-wrap-rightside .product-wrap-rightside-end-buttons a:last-child {
  text-decoration: underline !important;
  color: #696969;
  margin-top: 20px;
}

/*# sourceMappingURL=style.css.map */
